@using ForestBookstore.Models;
@model bool

@if(Model == true)
{
    <div>Order has been placed successfully!</div>
}
else
{
    <div>A problem occurred during the order execution. Please contanct our customer support.</div>
}
