@model bool

@if(Model == true)
{
    <h1>Successful Order</h1>
    <div>Order has been placed successfully!</div>
}
else
{
    <h1>Problem occured</h1>
    <div>A problem occurred during the order execution. Please contanct our customer support.</div>
}
