<header class="top-bar">  
    <section id="logo-and-search">
        <div id="logo-container">
            <img src="~/Content/Images/ColofulLogo.png" alt="Forest Bookstore logo">
        </div>
        <!-- SEARCH BAR -->
        <div id="search-box">
            <form method="get" action="http://www.google.com">
                <input type="text" id="text-box" size="55">
                <input type="submit" value="Search" id="search-button"><br>
                <input type="radio" name="title-or-author" value="Author" checked> Author
                <input type="radio" name="title-or-author" value="Title"> Title
            </form>
        </div>
    </section>
</header>