@{
    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }
    else
    {
        <h2>Admin Panel</h2>
        <table>
            <tr>
                <th>Actions</th>

            </tr>
            <tr>
                <td>
                    <input type="submit" class="btn btn-sm btn-warning"
                           value="Add New Book" onclick="location.href='@Url.Action("Create", "Books")'" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" class="btn btn-sm btn-warning"
                           value="Check Orders" onclick="location.href = '@Url.Action("CheckOrders", "Admin")'"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" class="btn btn-sm btn-warning"
                           value="Create New Category" onclick="location.href = '@Url.Action("Create", "Categories")'"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" class="btn btn-sm btn-warning"
                           value="View Categories" onclick="location.href = '@Url.Action("Index", "Categories")'" />
                </td>
            </tr>
        </table>
    }
}

