@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Forest Bookstore<br />
    Bulgaria<br />
    <abbr title="Phone">P:</abbr>
    888.888.888
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@forestbookstore.com">Support@forestbookstore.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@forestbookstore.com">Marketing@forestbookstore.com</a>
</address>