.shopping-cart table, .shopping-cart td, .shopping-cart th, .shopping-cart tr{
    border-bottom: 1px solid #118C4E;
}

.shopping-cart table{
    background: #C1E1A6;
}

.shopping-cart th{
    /*text-align: center;*/
}

.shopping-cart td{
}

.account-manage-btn{
    width:180px;
}

.account-manage-tbl{
    width: 300px;
    margin:auto;
    text-align:center;
}

.account-manage-tbl th{
    text-align:center;
}