body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table {
    background: #EEE;
}

.navbar-custom {
    background-color: #C1E1A6;
    border-bottom: 1px solid #118C4E;
    color: #585858;
}

#logo-and-search{
    display:flex;
}

#logo-container{
    margin: 20px;
}

#search-box{
    margin: 50px;
}