<header class="top-bar">
    <a href="views/Register.html">Register</a>
    <a href="views/Login.html">Login</a>
    <a href="views/ShoppingCart.html">Shopping Cart</a>
    <a href="#">Home</a>

    <section id="logo-and-search">
        <div id="logo-container">
            <img src="../Content/Images/ColofulLogo.png" alt="Forest Bookstore logo">
        </div>
        <!-- SEARCH BAR -->
        <div id="search-box">
            <form method="get" action="http://www.google.com">
                <input type="text" id="text-box" size="55">
                <input type="submit" value="Search" id="search-button"><br>
                <input type="radio" name="title-or-author" value="Author" checked> Author
                <input type="radio" name="title-or-author" value="Title"> Title
            </form>
        </div>
    </section>

    <nav class="nav-bar">
        <div class="dropdown">
            <span>Books</span>
            <div class="dropdown-content">
                <div class="drop-down-link"><a href="#">Link 1</a></div>
                <div class="drop-down-link"><a href="#">Link 2</a></div>
                <div class="drop-down-link"><a href="#">Link 3</a></div>
            </div>
        </div>

        <div class="dropdown">
            <span>E-Books</span>
            <div class="dropdown-content">
                <div class="drop-down-link"><a href="#">Link 1</a></div>
                <div class="drop-down-link"><a href="#">Link 2</a></div>
                <div class="drop-down-link"><a href="#">Link 3</a></div>
            </div>
        </div>

        <div class="dropdown">
            <span>Newspapers & Magazines</span>
            <div class="dropdown-content">
                <div class="drop-down-link"><a href="#">Link 1</a></div>
                <div class="drop-down-link"><a href="#">Link 2</a></div>
                <div class="drop-down-link"><a href="#">Link 3</a></div>
            </div>
        </div>

        <div class="dropdown">
            <span>Movies</span>
            <div class="dropdown-content">
                <div class="drop-down-link"><a href="#">Link 1</a></div>
                <div class="drop-down-link"><a href="#">Link 2</a></div>
                <div class="drop-down-link"><a href="#">Link 3</a></div>
            </div>
        </div>

        <div class="dropdown">
            <span>Music</span>
            <div class="dropdown-content">
                <div class="drop-down-link"><a href="#">Link 1</a></div>
                <div class="drop-down-link"><a href="#">Link 2</a></div>
                <div class="drop-down-link"><a href="#">Link 3</a></div>
            </div>
        </div>

        <div class="dropdown">
            <span>Bargain</span>
            <div class="dropdown-content">
                <div class="drop-down-link"><a href="#">Link 1</a></div>
                <div class="drop-down-link"><a href="#">Link 2</a></div>
                <div class="drop-down-link"><a href="#">Link 3</a></div>
            </div>
        </div>
    </nav>
</header>